/* variables */
:root {
  --dark-grey: #495057;
  --med-grey: #adb5bd;
  --light-grey: #dee2e6;
  --dark-icon: #282626;
  --light-icon: #f0f4f8;
}

/* fonts */
@font-face {
  font-family: "PT Sans Regular";
  src: url(../fonts/PTSans-Regular.ttf);
}

@font-face {
  font-family: "PT Sans Bold";
  src: url(../fonts/PTSans-Bold.ttf);
}

@font-face {
  font-family: "Playfair Display Regular";
  src: url(../fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: "Playfair Display Semi-bold";
  src: url(../fonts/PlayfairDisplay-SemiBold.ttf);
}

@font-face {
  font-family: "Playfair Display Bold";
  src: url(../fonts/PlayfairDisplay-Bold.ttf);
}

/* global styles */
html {
  box-sizing: border-box;
  font-family: "Playfair Display Regular";
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.1rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

img {
  width: 250px;
}

ul {
  list-style: none;
  padding-left: 0em;
}

/* nav */
.nav__btn {
  font-size: 2.25rem;
  margin: 12.5px 0px 12.5px 15px;
  padding: 0px;
}

.nav__exit {
  color: #fff;
}

.category,
.social {
  align-items: start;
  display: flex;
  flex-direction: column;
  margin: 100px 0px 0px 30px;
}

.category__btn,
.social__link {
  color: #fff;
  font-family: "PT Sans Bold";
  font-size: 2.8rem;
  letter-spacing: 2px;
  padding: 0px;
}

.social__link {
  font-size: 2.6rem;
}

.category__btn:hover,
.social__link:hover {
  color: var(--med-grey);
}

.category__btn,
.social__tab {
  margin: 0px 0px 12.5px 0px;
}

.social__icon {
  color: var(--dark-icon);
  margin-left: 5px;
}

/* main */
main {
  padding: 0px 15px;
}

.main__title {
  font-family: "PT Sans Bold";
  font-size: 4rem;
  margin: 30px 0px 46px 0px;
}

/* home */
.home__img {
  margin-bottom: 35px;
  height: 400px;
  min-width: 274.2px;
  object-fit: cover;
  vertical-align: top;
  width: 100%;
}

.info {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.info__education {
  margin-top: 25px;
}

/* projects */
.projects {
  display: flex;
  flex-wrap: wrap;
}

.project {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 35px;
  width: 100%;
}

.project__title {
  color: #000;
  font-family: "PT Sans Regular";
  font-size: 1.3rem;
  letter-spacing: 1.5px;
  margin: 10px 0px 25px 0px;
  text-transform: uppercase;
}

.project__img {
  height: 400px;
  min-width: 274.2px;
  object-fit: cover;
  width: 100%;
}

/* art */
.art {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.art__desc {
  display: none;
  font-family: "Playfair Display Semi-bold";
  left: 50%;
  margin: 0px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.art-container {
  min-width: 274.2px;
  padding-bottom: 5px;
  width: 100%;
}

.art__img {
  height: 400px;
  object-fit: cover;
  width: 100%;
}

.lt-box {
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  max-width: 1100px;
  min-width: 470px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 4;
}

.lt-box__bg {
  background-color: #000;
  height: 100vh;
  left: 0;
  opacity: 0.9;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3;
}

.details {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.details__btn {
  color: var(--light-grey);
  cursor: pointer;
  font-size: 2rem;
}

.details__title,
.lt-box__info {
  color: var(--light-grey);
  font-family: "PT Sans Regular";
  font-size: 1.4rem;
  margin: 10px 0px;
}

.lt-box__info {
  width: 70%;
}

.details__curr {
  font-family: "PT Sans Bold";
}

.img-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

.img-box__btn {
  color: var(--light-grey);
  cursor: pointer;
  font-size: 3.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.img-box__prev {
  left: 0;
}

.img-box__next {
  right: 0;
}

.img-box__btn:hover,
.details__btn:hover {
  color: var(--med-grey);
}

.img-box__img {
  max-width: 625px;
  width: 70%;
}

/* footer */
.footer__content {
  font-size: 0.9rem;
  margin: 46px 0px 15px 15px;
}

/* toggles */
.active {
  color: var(--dark-grey);
}

.active--art {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.font-light {
  color: var(--light-grey);
}

.nav-invert {
  background-color: #000;
  height: 100vh;
  width: 100vw;
}

.hidden {
  display: none;
}

.hide {
  display: none;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
}

/* media queries */
@media (min-width: 550px) {
  .art-container {
    min-width: 100px;
    width: calc(100% / 2);
  }

  .art-container:nth-of-type(2n-1) {
    padding-right: 5px;
  }
}

@media (min-width: 800px) {
  body {
    display: grid;
    grid-template-columns: 150px repeat(7, 1fr);
    grid-template-areas:
      "h m m m m m m m"
      "h m m m m m m m"
      "h m m m m m m m"
      "h m m m m m m m"
      "h m m m m m m m"
      "h m m m m m m m"
      "f f f f f f f f";
    height: 100vh;
  }

  .header {
    align-self: start;
    grid-area: h;
    position: sticky;
  }

  main {
    grid-area: m;
  }

  .footer {
    grid-area: f;
  }

  .nav {
    background-color: transparent;
    width: 100%;
  }

  .nav__btn {
    display: none;
  }

  .hidden {
    display: flex;
  }

  .category,
  .social {
    margin-left: 10px;
  }

  .category__btn,
  .social__link {
    color: var(--med-grey);
    font-size: 1.2rem;
  }

  .category__btn,
  .social__tab {
    margin-left: 20px;
  }

  .category__btn:hover,
  .social__link:hover {
    color: var(--dark-grey);
  }

  .social__icon {
    color: var(--light-icon);
  }

  .active {
    color: var(--dark-grey);
  }

  .main__title {
    margin: 58px 0px;
  }

  .footer {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
  }

  .footer__content {
    margin: 58px 20px 20px 0px;
  }

  /* home */
  .main--home {
    max-width: 500px;
  }

  .home__img {
    height: 300px;
  }

  /* projects */
  .projects {
    max-width: 1000px;
  }

  .project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 25px 25px 0px;
    width: 48%;
  }

  .project:nth-of-type(2n) {
    margin-right: 0px;
  }

  .project__img {
    height: 300px;
  }

  /* art */
  .main--art {
    max-width: 1000px;
  }
}

@media (min-width: 950px) {
  .art-container {
    width: calc(100% / 3);
    padding: 7px;
  }

  .art-container:nth-of-type(3n-2) {
    padding-left: 0px;
  }

  .art-container:nth-of-type(-n + 3) {
    padding-top: 0px;
  }

  .art__img {
    height: 300px;
  }
}
