/* variables */
:root {
  --dark-grey: #495057;
  --med-grey: #adb5bd;
  --light-grey: #dee2e6;
  --dark-icon: #1b1a1a;
}

/* fonts */
@font-face {
  font-family: "PT Sans Regular";
  src: url(fonts/PTSans-Regular.ttf);
}

@font-face {
  font-family: "PT Sans Bold";
  src: url(fonts/PTSans-Bold.ttf);
}

@font-face {
  font-family: "Playfair Display Regular";
  src: url(fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: "Playfair Display Semi-bold";
  src: url(fonts/PlayfairDisplay-SemiBold.ttf);
}

@font-face {
  font-family: "Playfair Display Bold";
  src: url(fonts/PlayfairDisplay-Bold.ttf);
}

/* global styles */
html {
  box-sizing: border-box;
  font-family: "Playfair Display Regular";
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.1rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

img {
  width: 250px;
}

ul {
  list-style: none;
  padding-left: 0em;
}

/* header */
.header__title {
  font-family: "PT Sans Bold";
  font-size: 4rem;
}

/* nav */
.nav__btn {
  font-size: 2.25rem;
}

.nav__exit {
  color: #fff;
}

.category,
.social {
  align-items: start;
  display: flex;
  flex-direction: column;
  margin: 4em 0em 0em 0em;
}

.category__btn,
.social__link {
  color: #fff;
  font-family: "PT Sans Bold";
  font-size: 2.8rem;
  letter-spacing: 2px;
}

.category__btn:hover,
.social__link:hover {
  color: var(--med-grey);
}

.category__btn,
.social__tab {
  margin: 0em 0em 12.5px 12.5px;
}

.social__icon {
  color: var(--dark-icon);
}

/* main */
.main {
  margin-top: 2em;
}

/* toggles */
.active {
  color: var(--dark-grey);
}

.font-light {
  color: var(--light-grey);
}

.nav-invert {
  background-color: #000;
  height: 100vh;
  width: 100vw;
}

.hidden {
  display: none;
}
