/* variables */
:root {
  --dark-grey: #495057;
  --med-grey: #adb5bd;
  --light-grey: #dee2e6;
}

/* fonts */
@font-face {
  font-family: "PT Sans Regular";
  src: url(fonts/PTSans-Regular.ttf);
}

@font-face {
  font-family: "PT Sans Bold";
  src: url(fonts/PTSans-Bold.ttf);
}

@font-face {
  font-family: "Playfair Display Regular";
  src: url(fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: "Playfair Display Semi-bold";
  src: url(fonts/PlayfairDisplay-SemiBold.ttf);
}

@font-face {
  font-family: "Playfair Display Bold";
  src: url(fonts/PlayfairDisplay-Bold.ttf);
}

/* global styles */
html {
  box-sizing: border-box;
  font-family: "Playfair Display Regular";
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.1rem;
  padding: 1.5em 0.5em;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

img {
  width: 250px;
}

ul {
  list-style: none;
  padding-left: 0em;
}

/* header */
.header__title {
  font-family: "PT Sans Bold";
  font-size: 4rem;
}

/* nav */
.social-icon {
  font-size: 2.25rem;
}

.social {
  display: none;
}

.social__tab {
  margin: 0em 0.75em;
}

.social__link {
  color: var(--primary-color);
}

.category {
  display: none;
}

/* main */
.main {
  margin-top: 2em;
}
